<table>
    <thead>
        <td *ngFor="let cab of headers">{{cab.label}}</td>
    </thead>
    <tr *ngFor="let item of valores; let linha = index" [ngClass]="{'linhaClara': linha % 2  }">
        <td *ngFor="let cab of headers" [ngStyle]="{'text-align': tipoVarieavel(item[cab.data]) ? 'center':'left'}">
            <label *ngIf="!cab.type" for="">{{item[cab.data]}}</label>
            <input *ngIf="cab.type" style="width: 100%;" type="{{cab.type}}" [(ngModel)]="item[cab.data]" />
        </td>
        <td class="exibirAcitons">
            <span *ngFor="let action of actions">
                <button class="acoes" (click)="onClick(action.id, linha, item)">
                    <img class="icones" src="{{action.icone}}" />
                </button>
            </span>
        </td>
    </tr>
    <tfoot>
        <tr class="rodape">
            <td colspan="5">1 de {{valores.length}}</td>
        </tr>
    </tfoot>
</table>